body{
  padding: 0;
  margin: 0;
}

.background {
  background-image: url('../public/images/bg.jpg');
  background-size: cover;
  min-height: 100vh;
}
.wrapper {
  padding-top: 3rem;
  background-color: rgba(242, 239, 239, 0.92);
  min-height: 100vh;
  }
    
  .header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .hyperLink{
    text-decoration: none;
  }

  .scrollContainer {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .cardItem {
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .pageBtn {
    background-color: #2563eb;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
  }
  
  .pageBtn:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
  }
  
  .pageText {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    max-width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }
  
  .link {
    display: inline-block;
    background-color: #2563eb;
    color: white;
    text-align: center;
    margin-inline-end: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    background-color: #1e40af;
  }
  
  .searchContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  
  .searchInput {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
